<div *ngIf="notFoud">
    <h3>
      Sorry for the this discomfort. We are working on updating this page as
      possible as soon
    </h3>
  </div>
  <div *ngIf="!content"><app-spinner></app-spinner></div>
  <div *ngIf="content && !notFoud" class="main">
    <div id="menu1">
      
    </div>
    <div id="container" style="margin-top: 0">
      <div class="ad">
        <p>Created By: Girindra Mohan</p>
        <h2>More Contents are Coming Soon</h2>
      </div>
      <div style="background-color: #fff; border-radius: 20px">
        <div class="top-margin">
          <button mat-fab color="primary">
            <span class="fas fa-angle-double-left"></span>
          </button>
  
          <button mat-fab color="primary" class="btn-right">
            <span class="fas fa-angle-double-right"></span>
          </button>
        </div>
        <div class="content">
          <h2 [innerHTML]="title"></h2>
          <div [innerHTML]="content"></div>
          <button
          *ngIf="role === 'admin'"
            class="btn btn-primary"
            [routerLink]="['/', id]"
            routerLinkActive="router-link-active"
          >
            Edit
          </button>
        </div>
      </div>
    </div>
    <div class="dir" id="menu2"></div>
  </div>
  