<div class="main-footer">
    <footer class="footer">
      <div class="container bottom_border">
        <div class="row">
          <div class="col-sm-4 col-md col-sm-4 col-12 col">
            <h3 class="headin5_amrc col_white_amrc pt2">Address</h3>
            <p class="mb10">
              C.P Passwan Gali, Sankutla Nagar<br />
              Near Polythechenic College, Dist - Saharsa PIN- 852201, Bihar
            </p>
            <p><i class="fa fa-phone"></i> +91-8319034943</p>
            <p><i class="fa fa fa-envelope"></i> girindramohan0@gmail.com</p>
          </div>
  
          <div class="col-sm-4 col-md col-6 col">
            <h3 class="headin5_amrc col_white_amrc pt2">Subscribe Us</h3>
            <div class="footer_ul_amrc">
              <input
                [(ngModel)]="email"
                type="email"
                class="form-control"
                id="email"
                aria-describedby="emailHelp"
                placeholder="Enter email"
                email
              /><br />
              <button (click)="subscribe()" class="btn btn-primary">
                Subscribe
              </button>
            </div>
            <!-- <ul class="footer_ul_amrc">
              <li><a href="http://webenlance.com">Image Rectoucing</a></li>
              <li><a href="http://webenlance.com">Clipping Path</a></li>
              <li><a href="http://webenlance.com">Hollow Man Montage</a></li>
              <li><a href="http://webenlance.com">Ebay & Amazon</a></li>
              <li><a href="http://webenlance.com">Hair Masking/Clipping</a></li>
              <li><a href="http://webenlance.com">Image Cropping</a></li>
            </ul> -->
          </div>
  
          <!-- <div class="col-sm-4 col-md col-6 col">
            <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
            <ul class="footer_ul_amrc">
              <li><a href="http://webenlance.com">Remove Background</a></li>
              <li>
                <a href="http://webenlance.com">Shadows & Mirror Reflection</a>
              </li>
              <li><a href="http://webenlance.com">Logo Design</a></li>
              <li><a href="http://webenlance.com">Vectorization</a></li>
              <li><a href="http://webenlance.com">Hair Masking/Clipping</a></li>
              <li><a href="http://webenlance.com">Image Cropping</a></li>
            </ul>
          </div> -->
  
          <div class="col-sm-4 col-md col-12 col">
            <h3 class="headin5_amrc col_white_amrc pt2">Follow us</h3>
  
            <ul class="footer_ul2_amrc">
              <li>
                <a href="#"
                  ><i class="fab fa-twitter fleft padding-right"></i>
                </a>
                <p>
                  <a href="https://twitter.com/mohan_girindra"
                    >Follows us on twitter...</a
                  >
                </p>
              </li>
              <li>
                <a href="#"
                  ><i class="fab fa-facebook-f fleft padding-right"></i>
                </a>
                <p>
                  <a href="https://www.facebook.com/diwakar.kumar.5458"
                    >Follow us on facebook...</a
                  >
                </p>
              </li>
              <li>
                <a href="#"
                  ><i class="fab fa-instagram fleft padding-right"></i>
                </a>
                <p>
                  <a href="https://www.instagram.com/girindra_mohan/"
                    >Follow us on Instagram...</a
                  >
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="container">
        <ul class="foote_bottom_ul_amrc">
          <li>
            <a [routerLink]="['/home']" routerLinkActive="router-link-active"
              >Home</a
            >
          </li>
          <li>
            <a [routerLink]="['/about']" routerLinkActive="router-link-active"
              >About</a
            >
          </li>
  
          <li>
            <a [routerLink]="['/blog']" routerLinkActive="router-link-active"
              >Blog</a
            >
          </li>
          <li>
            <a [routerLink]="['/contact']" routerLinkActive="router-link-active"
              >Contact</a
            >
          </li>
        </ul>
        <!--foote_bottom_ul_amrc ends here-->
        <p class="text-center">
          Copyright @2020 | Designed And Developed by <a href="https://webbuilders.herokuapp.com/">webBuilders</a>
        </p>
  
        <ul class="social_footer_ul">
          <li>
            <a href="https://www.facebook.com/diwakar.kumar.5458"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/mohan_girindra"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/girindra-mohan-705939150
            "><i class="fab fa-linkedin"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/girindra_mohan/"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
        <!--social_footer_ul ends here-->
      </div>
    </footer>
  </div>
  