<mat-card class="container">
    <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" >
        <mat-form-field>
            <input
            name="email"
            ngModel
            matInput
            type ="text"
            placeholder= "E-mail" #emailInput="ngModel"
            required email>
            <mat-error *ngIf="emailInput.invalid">Please Enter Valid Email</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
            matInput
            type="Password"
            name="password"
            ngModel
            placeholder= "Password"
            #passwordInput="ngModel"
            required
            >
            <mat-error *ngIf="passwordInput.invalid">Please Enter Valid Password</mat-error>
          </mat-form-field>
          <button mat-raised-button
          color="accent"
          type="submit" *ngIf="!isLoading">Login</button>
    </form>

  </mat-card>