body {
  margin: 0px;
  padding: 0px;
  /* font-size: 1rem; */
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* width: fit-content; */
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
